#startButton {
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

#startButton:hover {
    background-color: #218838;
}
