body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
    margin: 0;
}
canvas {
    background-color: white;
    border: 2px solid black;
}
